@model CajeroSegundoParcial.Models.Cajero
@{
    ViewBag.Title = "Correcto";
}

<h2>Felicidades</h2>


<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Correcto</h4>
    <p>Puedes retirar el Dinero</p>
    <hr>
</div>

