@model CajeroSegundoParcial.Models.Cajero
@{
    ViewBag.Title = "ErrorMonto";
}



<h2>Oh no</h2>


<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Error</h4>
    <p>No se puede retirar el Monto</p>
    <hr>
</div>

